appdirs==1.4.3
beautifulsoup4==4.4.1
boto==2.46.1
bz2file==0.98
gensim==0.12.4
nltk==3.1
numpy==1.10.4
packaging==16.8
pandas==0.17.1
pyparsing==2.2.0
python-dateutil==2.6.0
pytz==2017.2
redis==2.10.5
requests==2.13.0
scikit-learn==0.17
scipy==0.17.0
six==1.10.0
smart-open==1.5.2
SQLAlchemy==1.0.12
Werkzeug==0.10.4
